html {
    height:100%;
}
.bg-img {
    margin: 0;
    padding: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: .25;
    position: fixed;
    top: 0;
    transform: scale(1.1);
    width: 100%;
    z-index: -1;
}

.tick {
    padding-bottom: 1em;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.tick-label {
    font-size: .4rem;
    text-align: center;
    color: rgba(255, 255, 255, .75);
}

.tick-group {
    margin: 0.25em;
    text-align: center;
}

.title {
    margin: .5rem;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, .9);
}

.main {
    color: white;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);

    position: absolute;
    left: 50%;
    /* 定位父级的50% */
    top: 60%;
    transform: translate(-50%, -50%);
    /*自己的50% */

    box-shadow: 0 0px 20px #feffa870;
}

body {
    background:url(https://s3.ax1x.com/2021/01/17/ssnFPI.jpg) no-repeat scroll 50% 0 transparent;
    background-size:auto 100%;
    cursor: default;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

footer {
    bottom: 0;
    color: rgba(255, 255, 255, .2);
    padding: 20px 20px;
    padding-left: calc(env(safe-area-inset-left) + 20px);
    padding-right: calc(env(safe-area-inset-right) + 20px);
    position: fixed;
    white-space: nowrap;
    width: 100%;
    display: block;
    box-shadow: 0 0px 15px #feffa870;
}

.translucent {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .1);
    font-size: .075rem;
}

* {
    box-sizing: border-box;
    outline: none;
    scrollbar-width: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .25s;
}

.translucent a {
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.tick-credits {
    font-size: .075rem !important;
}

img.grp_photo {
    width: 65% !important;
    height: auto;

    position: absolute;
    left: 50%;
    /* 定位父级的50% */
    top: 70%;
    transform: translate(-50%, -50%);
    /*自己的50% */

    border: white solid 15px;
    box-shadow: 0 5px 30px #00000070;
}

div.grp_photo {
    position: relative;
    /* 定位父级的50% */
    top: 30%;
    transform: translate(-50%, -50%);
    /*自己的50% */
    transform: rotate(5deg);
}

iframe {
    display: block;
    position: absolute;
    left: 50%;
    /* 定位父级的50% */
    bottom: 2%;
    transform: translate(-50%, -50%);
    /*自己的50% */
    opacity: 50%;
}


.translucent div {
    position: absolute;
    left: 50%;
    /* 定位父级的50% */
    top: 50%;
    transform: translate(-50%, -50%);
    /*自己的50% */
}